$gris: #FFF000;
$celeste:#0095b5;
$amarillo:#fcd116;
$gris1:#5c5c5c;
$link-nav:#FFF;
$color:#057e1c;



// familias tipográficas

$fuente-principal: 'Oswald', sans-serif;
$fuente-secundaria: 'Merriweather', serif;

$fw-lig:300;
$fw-reg:400;
$fw-med:500;
$fw-bold:700;
$fw-bla:900;

